<!--
  Generated template for the ComercioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Comercios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item no-lines>
    <ion-label> Categorias</ion-label>
    <ion-select #select (ionChange)='onChange(select.value)'>
      <ion-option *ngFor='let cat of categorias' [value]="cat.$key">{{cat.nombre}}</ion-option>
    </ion-select>

  </ion-item>

  <button ion-button (click)='create()' *ngIf="comercios">Nuevo Comercio</button>
  <ion-searchbar #fas placeholder='Buscar...'></ion-searchbar>


  <ion-list inset>
    <ion-item *ngFor="let com of comercios | async | buscar:fas.value">
      {{ com.nombre }}
      <ion-buttons end>
        <button ion-button (click)='view(com)'>
        Ver
      </button>
        <button ion-button (click)='update(com)'>
       Editar
      </button>
        <button ion-button (click)='delete(com)'>
        Borrar
      </button>
      </ion-buttons>
    </ion-item>
  </ion-list>


</ion-content>